@import "modules/calendar/style.scss";
@import "modules/home/style.scss";
@import "modules/playing/style.scss";
@import "modules/bar/left/style.scss";
@import "modules/bar/middle/style.scss";
@import "modules/bar/right/style.scss";

* {
    all: unset; //Unsets everything so you can style everything from scratch
    transition: ease-in-out 100ms;
    color: #cdd6f4;
}

tooltip.label {
    padding: 20px;
}

tooltip.background {
    background-color: rgba(76, 86, 106, 0.8);
}