@import "modules/css/calendar.scss";

* {
    all: unset; //Unsets everything so you can style everything from scratch
    font-weight: Bold;
    transition: ease-in-out 100ms;
}

//Global Styles
.bar {    
    color: #eceff4;
    padding: 10px 10px 2px 10px;
    // padding: 10px;
    // padding-bottom: 30px;
}

.left {
    border-radius: 15px;
    background-color: #26272e;

    padding: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

    font-family: Torus;
}

.menuButton {
    // background-color: #BF616A;
    padding: 10px;
    border-radius: 10px;
    transition: ease-in-out 100ms;
    margin-right: 5px;
    // box-shadow: 0 3px 3px rgba(0, 0, 0, .5);
}

.menuButton:hover {
    background-color: rgba(76, 86, 106, 0.5);
}

.win {
    // background-color: #2E3440;
    padding: 10px;
    transition: ease-in-out 100ms;
    border-radius: 10px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60%;
}

.win:hover {
    // text-shadow: 0 0 2px rgb(236, 239, 244, .7);
    // background-color: #4C566A;
    background-color: rgba(76, 86, 106, 0.5);
}

.win.active {
    background-color: rgba(76, 86, 106, 0.5);
}

.right {
    border-radius: 15px;
    background-color: #26272e;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);

    font-family: Torus;

    padding: 5px;
}

.timedate {
    // background-color: rgb(50, 51, 61);
    border-radius: 15px;
    padding: 10px 15px;
}

.timedate:hover {
    background-color: rgba(76, 86, 106, 0.5);
}

.date {
    font-size: 9px;
    font-weight: normal;
}

.time {
    font-size: 14px;
    color: #ebcb8b;
}

.nerdFont {
    font-family: CaskaydiaCove NF;
    font-size: 12px;
}

.bat-great {
    color: #88d6f2;
}

.bat-good {
    color: #03fc8c;
}

.bat-mid {
    color: #edc877;
}

.bat-low {
    color: #f0356d;
}

.wifi {
    padding: 15px;
    border-radius: 10px;
}

.wifi:hover {
    background-color: rgba(76, 86, 106, 0.5);
}
