$textShadowBlur: 0px;
$textShadowDistance: 4px;

.timeWidget {
    padding: 10px;
    background-position: -120px;
    font-family: "SF Pro Rounded";

    // margin: 10px;
    // background-color: rgba(38, 39, 46, 1);
    // border-radius: 50px;
}

.homeTime {
    font-weight: 600;
    font-family: "SF Pro - Stencil";
}

.hour {
    font-size: 128px;
    color: #313244;
}

.minute {
    font-size: 128px;
    color: #313244;
    margin-bottom: 10px;
}

.homeDate {
    font-size: 25px;
    color: #313244;
}

.user {
    padding: 10px;
    background-position: calc(100% + 60px) -60px;
    font-family: Torus;
}

.icon {
    background-image: url("/home/try-z/.face");
    background-size: cover;
    border-radius: 50px;
}

.welcome {
    font-style: italic;
    text-shadow: 1px 1px 0 rgb(91, 149, 197);
}

.name {
    font-size: 48px;

    color: #f3b1a8;
    text-shadow: $textShadowDistance $textShadowDistance $textShadowBlur rgb(141, 85, 104);
}