.middle {
    border-radius: 15px;
    font-family: "CaskaydiaMono Nerd Font";
    padding: 0 5px;
}

.taskbar {
    background-color: #1e1e2e;
    border-radius: 15px;
    padding: 5px;
}

.win {
    // background-color: #2E3440;
    padding: 5px;
    transition: ease-in-out 100ms;
    border-radius: 999px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30%;
}

.win:hover {
    // text-shadow: 0 0 2px rgb(236, 239, 244, .7);
    // background-color: #4C566A;
    background-color: #45475a;
}

.win.active {
    // background-color: rgba(76, 86, 106, 0.8);
    background-color: #45475a;
}