calendar {
    color: #eceff4;
    padding: 10px;
}

calendar.highlight {
    color: #eceff4;
}

calendar:indeterminate {
    color: rgba(236, 239, 244, 0.336);
}

calendar:selected {
    color:  #eba0ac;
    font-weight: bold;

}